.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px black;
    background: white;
}

.header-left{
    display: flex;
    justify-content: space-evenly;
}

.header-left div{
    margin: 0 20px 0 0;
}

.header-left img{
    width: 40px;
    border-radius: 50%;
}

.search-bar{
    display: flex;
    align-items: center;
    background: rgb(207, 207, 207);
    padding: 0 10px;
    border-radius: 20px;
}

.search-bar .MuiSvgIcon-root{
    color: gray;
}

.search-bar input{
    border: none;
    background: transparent;
    height: 25px;
    outline-width: 0;
}

.header-center{
    display: flex;
    align-items: center;
}

.header-option{
    padding: 5px 40px;
}

.header-option:hover{
    background:rgb(207, 207, 207);
    cursor: pointer;
    border-radius: 10px;
}

.header-option-active::after{
    content: "";
    background: #2e81f4;
    display: block;
    height: 2px;
    width: 100%;
}

.header-option .MuiSvgIcon-root{
    color: gray;
    font-size: 30px;
}

.header-option:hover .MuiSvgIcon-root{
    color: #2e81f4;
}

.account{
    display: flex;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right .MuiSvgIcon-root{
    display: flex;
    align-items: center;
}

.header-right-profile{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-right-profile h4{
    margin-left: 10px;
}

.header-right-option{
    background: rgb(207, 207, 207);
    border-radius: 50%;
    margin: 0 0 0 10px;
    padding: 5px;
    cursor: pointer;
}

.header-right-option:hover{
    background: rgb(214, 214, 214);
}